.body{
    text-align: center;
}

.darkmode{
    margin-top: 50px;
}

.ligado,.desligado{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 130px;
    margin-right: 130px;
}

button {
    text-align: center;
    background-color: #1bc7b0;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 40px;
    transition: all 0.4s;
    margin-top: 50px;
}
button:hover {
    background-color: #2ca999;
}

