* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --text-white: #fff;
  --bg-color: #ffffff;
  --text-color: #060507; // Cor dos textos da pagina de mensagem
  --icon-bg-color: #fff; // Cor dos icones da pagina de mensagem
  --icon-color: #080505; // Cor do icone da pagina de mensagem
  --search-bg: #868e991a;
  --active-color: #5ad539;
  --border-color: #d8d6d6; //Cor das bordas
  --message-icon-color: #0099ff;
  --fd-message-bg: #e5e5e5;
  --my-message-bg: #0084ff;
  --my-message-color: #fff;
  --fd-message-color: #050505;
  --image-border-color: rgb(155, 153, 153);
  --active-icon-color: #5ad539;
  --hover-color: #bcbcc091;
}

body {
  background-color: #f0f2f5bf;
  font-family: "Roboto", sans-serif;
}

.messenger.theme {
  background-color: #041a4dbf;
  --text-color: #fff;
  --bg-color: #1255f1f0;
  --border-color: #213156bf;
  --icon-bg-color: #0a0a1357;
  --active-color: #2b335591;
  --hover-color: #323a5c91;
  --fd-message-bg: #28324ed9;
  --my-message-bg: #28324ed9;
  --search-bg: #15162559;
  --text-white: #fff;
  --text-dark: #404040;
  --icon-color: #fff;
  --message-icon-color: #fff;
  --my-message-color: #fff;
  --fd-message-color: rgb(245, 241, 241);
  --active-icon-color: #5ad539;
  --image-border-color: #fff;

  .friends {
    background-color: #6987cfbf;
    border-radius: 15px;
    border: var(--border-color) solid 5px;
  }

  .message-show .my-message .time {
    color: white;
  }

  .friends .hover-friend .friend .friend-name-seen .friend-name h4 {
    color: white;
    font-weight: bold;
  }

  .friends .hover-friend .friend .friend-name-seen .friend-name .msg-time span {
    color: white;

  }

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}